/* Button styles */
.btn-category {
  font-size: 1.1rem;
  padding: 12px 24px;
  border-radius: 25px;
  border: 2px solid transparent;
  background-color: #f7c59f;
  color: #333;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn-category:hover,
.btn-category.active {
  background-color: #432813 !important;
  color: white !important;
  border-color: #ff9a8b;
}

/* Card styles */
@keyframes fadeIn {
  to {
    opacity: 1; /* End state for animation */
    transform: scale(1); /* End state for animation */
  }
}
.menu-card {
  border: 4px solid #ffe6a6 !important;
  border-radius: 15px 50px 15px 30px !important;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #ffe6a6 !important;
  color: #f7c59f !important;
  opacity: 0; /* Initial state for animation */
  transform: translateY(20px); /* Initial state for animation */
  transition: opacity 0.5s, transform 0.5s; /* Transition for smooth animation */
}
.menu-card.fade-in {
  opacity: 1;
  /* End state for animation */
  transform: translateY(0);
  /* End state for animation */
}

.menu-card:hover {
  transform: scale(1.02);
}

.menu-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

/* Card image styles */
.card-img-top1 {
  width: 100%;
  height: 300px !important;
  border-radius: 0px 50px;
  object-fit: cover !important;
  @media (max-width: 600px) {
    height: 150px !important;
  }
}

/* Card body styles */
.card-body {
  padding: 20px 10px;
}

.card-title {
  font-size: 1.3rem;
  margin-bottom: 8px;
  color: #432813 !important;
  /* height: 50px; */
}

.card-subtitle {
  font-size: 1.2rem;
  margin-bottom: 12px;
  color: #777 !important;
  margin-top: 10px !important;
}

.card-text {
  font-size: 1rem;
  color: #432813;
}

/* Responsive design */
@media (max-width: 767px) {
  .btn-category {
    font-size: 1rem;
    padding: 10px 20px;
  }

  .menu-card {
    margin-bottom: 20px;
  }

  .card-img-top {
    height: 250px !important;
  }
}

/* Container styles */
.select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 50px auto;
  font-family: "Roboto", sans-serif;
}

/* Label styles */
.select-container label {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

/* Custom select styles */
.custom-select {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #ffe6a6;
  border-radius: 8px;
  background: #fff;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="432813"><path d="M4 6l4 4 4-4z"/></svg>');
  background-color: #ffe6a6;
  color: #432813;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.custom-select:focus {
  border-color: #432813;
  box-shadow: 0 0 5px #ffe6a6;
  outline-color: #ffe6a6;
}

/* Selected option styles */
.selected-option {
  margin-top: 20px;
  font-size: 16px;
  color: #555;
  background-color: #432813 !important;
}

/* For browsers that do not support the appearance property */
.select-container select::-ms-expand {
  display: none;
}
.headingContainer {
  background-color: #ffe6a6;
  margin-bottom: 20px;
  padding-top: 10px;
  border-radius: 10px;
}
.card-subtitle {
  color: white !important;
  font-size: 15px !important;
  padding: 3px 6px !important;
  background-color: #432813 !important;
  border: 1px solid #432813 !important;
  cursor: none !important;
}

.social-menu {
  width: 100%;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  h2 {
    text-align: center;
    color: #ffe6a6;
  }
  background-color: rgba(0, 0, 0, 0.669);
}
.social-menu ul {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  gap: 20px;
  flex-direction: column;
}

.social-menu ul li {
  list-style: none;
  /* margin: 0 15px; */
}

.social-menu ul li .fab {
  font-size: 24px;
  line-height: 60px;
  transition: 0.3s;
  color: #432813;
}

/* .social-menu ul li .fab:hover {
  color: #fff;
} */

.social-menu ul li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  transition: 0.6s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0);
  background-color: #ffe6a6;
}

/* .social-menu ul li a:hover {
  transform: translate(0, -10%);
} */

/* .social-menu ul li:nth-child(1) a:hover {
  background-color: rgba(0, 0, 0, 0.829);
} */
/* .social-menu ul li:nth-child(1) a:hover svg {
  color: #fff !important;
} */

/* .social-menu ul li:nth-child(2) a:hover {
  background-color: #e4405f;
}
.social-menu ul li:nth-child(3) a:hover {
  background-color: #0077b5;
}
.social-menu ul li:nth-child(4) a:hover {
  background-color: #000;
} */

/* categoriesSelection */
.categoriesSelection {
  background-color: #ffe6a6 !important;
  width: 100% !important;
  padding: 15px 10px;
  margin-bottom: 20px;
}
.categoriesSelection .SingleCatContainer {
  background-color: #ffe6a6;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 5px;
  padding: 7px;
  /* gap: 5px; */
  svg {
    color: #432813;
    font-size: 40px;
  }
  width: 120px;
  height: 120px !important;
  h4 {
    font-size: 17px;
    color: #432813;
    margin-bottom: 0px;
    font-family: monospace;
  }
  border: 2px #432813 solid;
}
.selectionActive {
  background-color: #432813 !important;
  svg {
    color: #ffe6a6 !important;
  }
  h4 {
    color: #ffe6a6 !important;
  }
}
.swiper-pagination-bullet {
  background-color: #777 !important;
  border: 1px solid #777; /* Change to your desired color */
}
.mySwiper .swiper-pagination-bullet-active {
  background-color: #432813 !important;
  width: 12px !important;
  height: 12px !important; /* Active bullet color */
}
.mySwiper .swiper-pagination-bullets {
  top: 100px !important;
}

/* Hide default Swiper navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  display: none !important; /* Hide default buttons */
}

/* Ensure your custom buttons are visible */
.custom-prev-button,
.custom-next-button {
  display: block; /* Make sure your custom buttons are displayed */
  z-index: 10; /* Ensure they are above other elements */
}

.custom-prev-button,
.custom-next-button {
  background-color: #000000c7;
  color: white;
  padding: 2px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid #432813; */
  svg {
    font-size: 15px;
  }
}

.custom-prev-button {
  left: 5px;
}

.custom-next-button {
  right: 5px;
}
.swiper-button-disabled {
  background-color: #0000004e;
}

/* Head Swiper */

.HeadSwiper {
  .swiper {
    width: 100%;
    height: 45vh !important;
    @media (max-width: 460px) {
      height: 50vh !important;
    }
    @media (max-width: 360px) {
      height: 45vh !important;
    }
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #432813 !important;
    opacity: 1;
    background: #ffe6a6 !important;
  }

  .swiper-pagination-bullet-active {
    color: #ffe6a6 !important;
    background: #432813 !important;
  }
}
.HeadSwiper{
  position: relative;
}

.SocialContainer {
  position: absolute;
  top: 100;
  left: 0;
  z-index: 111111;
}
